#Introduction to Numerical Method
##Demo

In [2]:
b = "sally"
b = float(4)
print(b)

4.0

In [3]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [4]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [5]:
x =5 
y =3
compare = x > y
compare

True

In [6]:
x =5 
y =3

x>y and x<y

False

In [7]:
x =5 
y =3
sum = x+y
sum

8

In [8]:
a, b, c = 0, -1, 5
c%=2
c

1

In [9]:
x =5 
y =3
x is y

False